@charset "utf-8";
#search{
	width:100%;
	min-width:1263px;
	height:600px;
	background:url(../img/search.jpg) no-repeat center;
	position:relative;
	}
		
#search .sec-center{
	width:600px;
	height:330px;
	/*background-color:#000;*/
	position:absolute;
	top:30%;
	left:75%;
	margin:-30px 0 0 -300px;
	opacity: 0.6;
	border-radius: 10px;
	}
	
	
#search .search{
	width:446px;
	height:52px;
	background-color:#eee;
	position:absolute;
	top:30%;
	left:75%;
	margin:-27px 0 0 -296px;
	color:#666;
	border:1px solid #666;
	border-radius: 10px;
	font-size:24px;
	padding:0 10px;
	outline:none;
	}

#search .button{
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top: 30%;
	left: 75%;
	margin: -27px 0 0 175px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	}
	
#search .sign-in{
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top: 75%;
	left: 75%;
	margin: -27px 0 0 183px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	}
	
#search .sign-up{
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top: 75%;
	left: 75%;
	margin: -27px 0 0 45px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	}	
	
#search .email{
	width:468px;
	height:52px;
	background-color:#eee;
	position:absolute;
	top:45%;
	left:83%;
	margin:-27px 0 0 -296px;
	color:#666;
	border:1px solid #666;
	border-radius: 10px;
	font-size:24px;
	padding:0 10px;
	outline:none;
	}
	
#search .user{
	width:468px;
	height:52px;
	background-color:#eee;
	position:absolute;
	top:55%;
	left:83%;
	margin:-27px 0 0 -296px;
	color:#666;
	border:1px solid #666;
	border-radius: 10px;
	font-size:24px;
	padding:0 10px;
	outline:none;
	}
	
#search .psw{
	width:468px;
	height:52px;
	background-color:#eee;
	position:absolute;
	top:65%;
	left:83%;
	margin:-27px 0 0 -296px;
	color:#666;
	border:1px solid #666;
	border-radius: 10px;
	font-size:24px;
	padding:0 10px;
	outline:none;
	}

#food{
	width:1263px;
	height:1150px;
	margin:30px auto;
	text-align:center;
	}
	
#food .center h2{
	font-size:45px;
	letter-spacing:2px;
	color:#666;
	margin:10px 0;
	}
	
#food .center p{
	color:#666;
	margin:10px 0;
	}

#food figure{
	border:1px solid #eee;
	display:inline-block;
	padding:4px;
	border-radius:4px;
	margin:15px 12px;
	width:380px;
	text-align:left;
	position:relative;
	}
	
#food figure img{
	vertical-align:middle;
	}
	
#food figcaption{
	color:#777;
	line-height:1.5;
	letter-spacing:1px;
	font-size:14px;
	padding:7px 0 5px 0;
	}
	
#food .title{
	font-weight:normal;
	color:#333;
	}
	
#food .sat{
	float:right;
	font-size:13px;
	color:#999;	
	position:relative;
	top:5px;
	right:5px;
	font-style:normal;
	}
	
#food .price{
	color:#f60;
	font-size:14px;
	}

#food .price strong{
	font-size:20px;
	letter-spacing:1px;
	}
	
#food .type{
	width:90px;
	height:25px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	color: #fff;
	background-color: #59b200;
	position: absolute;
	top: 4px;
	left: 4px;
	}



